{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
    <div class="chart-row-m0">
        <div class="container">
            <canvas id="battery-voltage-graph" width="277" height="186"></canvas>
        </div>
        <div class="container">
            <canvas id="altitude-graph" width="277" height="186"></canvas>
        </div>
        <div class="container">
            <canvas id="velocity-graph" width="277" height="186"></canvas>
        </div>
        <div class="container">
            <canvas id="temperature-graph" width="277" height="186"></canvas>
        </div>
    </div>
    <div class="main-container">
        <div class="main-left">
            <section class="control-section">
                <div class="control-container">
                    <div class="control-group">
                        <button class="control-buttons" id="start-button">{% trans 'Start' %}</button>
                        <button class="control-buttons" id="reset-button">{% trans 'Reset' %}</button>
                    </div>
                    <div class="control-group">
                        <div class="selector-group">
                            <label for="select-port" class="selector-label">{% trans 'Port' %}:</label>
                            <select id="select-port" class="control-selectors">
                                <option>Select Port</option>
                                <option>Port 1</option>
                                <option>Port 2</option>
                            </select>
                        </div>
                        <div class="selector-group">
                            <label for="select-baud-rate" class="selector-label">{% trans 'Baud Rate' %}:</label>
                            <select id="select-baud-rate" class="control-selectors">
                                <option>Select</option>
                                <option>100000</option>
                                <option>200000</option>
                                <option>300000</option>
                            </select>
                        </div>
                        <button type="button" id="save-stop-button">{% trans 'Save & Stop' %}</button>
                    </div>
                </div>
            </section>
            <section class="basic-info-section">
                <div class="basic-info-container">
                    <div class="basic-info-group">
                        <label for="team-id">{% trans 'Software State' %}</label>
                        <input class="gl-input" type="text" id="team-id" readonly>
                    </div>
                    <div class="basic-info-group">
                        <label for="gps-time">{% trans 'GPS Time' %}</label>
                        <input class="gl-input" type="text" id="gps-time" readonly>
                    </div>
                    <div class="control-container">
                        <div class="control-group">
                            <div class="basic-info-group">
                                <label for="team-id">{% trans 'Team ID' %}</label>
                                <input type="text" id="team-id" value="{{ team_id }}" readonly>
                            </div>
                            <div class="basic-info-group">
                                <label for="working-duration">{% trans 'Working Duration' %}</label>
                                <input type="text" id="working-duration" value="{{ working_duration }}" readonly>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="basic-info-group">
                                <label for="num-telemetry-packs">{% trans 'Packet Count' %}</label>
                                <input type="text" id="num-telemetry-packs" readonly>
                            </div>
                            <div class="basic-info-group">
                                <label for="direction-bonus">{% trans 'Direction (Bonus)' %}</label>
                                <input type="text" id="direction-bonus" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="main-right">
            <section class="basic-info-section-right">
                <div class="basic-info-container">
                    <div class="basic-info-group">
                        <label for="altitude-input">{% trans 'Altitude (m)' %}</label>
                        <input type="text" id="altitude-input" readonly>
                    </div>
                    <div class="basic-info-group">
                        <label for="n2-input">{% trans 'N2 (ppm)' %}</label>
                        <input type="text" id="n2-input" readonly>
                    </div>
                    <div class="basic-info-group">
                        <label for="co-input">{% trans 'CO (ppm)' %}</label>
                        <input type="text" id="co-input" readonly>
                    </div>
                    <div class="basic-info-group">
                        <label for="h2-input">{% trans 'H2 (ppm)' %}</label>
                        <input type="text" id="h2-input" readonly>
                    </div>
                </div>
                <div class="basic-info-container">
                    <div class="basic-info-group">
                        <label for="velocity-input">{% trans 'Velocity (m/s)' %}</label>
                        <input type="text" id="velocity-input" readonly>
                    </div>
                    <div class="basic-info-group">
                        <label for="voltage-input">{% trans 'Voltage (V)' %}</label>
                        <input type="text" id="voltage-input" readonly>
                    </div>
                    <div class="basic-info-group">
                        <label for="separation-time">{% trans 'Separation Time (s)' %}</label>
                        <input type="text" id="separation-time" readonly>
                    </div>
                </div>
                <div class="basic-info-container">
                    <div class="basic-info-group">
                        <label for="gps-latitude-input">{% trans 'GPS Lattitude' %}</label>
                        <input type="text" id="gps-latitude-input" readonly>
                    </div>
                    <div class="basic-info-group">
                        <label for="gps-longitude-input">{% trans 'GPS Longtitude' %}</label>
                        <input type="text" id="gps-longitude-input" readonly>
                    </div>
                    <div class="basic-info-group">
                        <label for="gps-altitude-input">{% trans 'GPS Altitude' %}</label>
                        <input type="text" id="gps-altitude-input" readonly>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="chart-row-m0">
        <div class="container">
            <canvas id="n2-graph" width="277" height="186"></canvas>
        </div>
        <div class="container">
            <canvas id="co-graph" width="277" height="186"></canvas>
        </div>
        <div class="container">
            <canvas id="h2-graph" width="277" height="186"></canvas>
        </div>
        <div class="container">
            <canvas id="gps-graph" width="277" height="186"></canvas>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'client/js/graph_class.js' %}"></script>
    <script src="{% static 'client/js/helper_functions.js' %}"></script>
    <script src="{% static 'client/js/custom_graph.js' %}"></script>
{% endblock %}