{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
    <div class="chart-row-m0">
        <div class="container">
            <canvas id="battery-voltage-graph" width="277" height="186"></canvas>
        </div>
        <div class="container">
            <canvas id="altitude-graph" width="277" height="186"></canvas>
        </div>
        <div class="container">
            <canvas id="velocity-graph" width="277" height="186"></canvas>
        </div>
        <div class="container">
            <canvas id="temperature-graph" width="277" height="186"></canvas>
        </div>
    </div>
    <div class="main-container">
        <div class="main-left">
            <section class="control-section">
                <div class="control-container">
                    <div class="control-group">
                        <button class="control-buttons" id="start-button">{% trans 'Start' %}</button>
                        <button class="control-buttons" id="reset-button">{% trans 'Reset' %}</button>
                    </div>
                    <div class="control-group">
                        <div class="selector-group">
                            <label for="select-port" class="selector-label">{% trans 'Port' %}:</label>
                            <select id="select-port" class="control-selectors">
                                <option>Select Port</option>
                                <option>Port 1</option>
                                <option>Port 2</option>
                            </select>
                        </div>
                        <div class="selector-group">
                            <label for="select-baud-rate" class="selector-label">{% trans 'Baud Rate' %}:</label>
                            <select id="select-baud-rate" class="control-selectors">
                                <option>Select</option>
                                <option>100000</option>
                                <option>200000</option>
                                <option>300000</option>
                            </select>
                        </div>
                        <form action="{% url 'core:export_sensor_data_csv' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" id="save-stop-button">{% trans 'Save & Stop' %}</button>
                        </form>
                    </div>
                </div>
            </section>
            <section class="basic-info-section">
                <div class="basic-info-container">
                    <div class="basic-info-group">
                        <label for="team-id">{% trans 'Software State' %}</label>
                        <input class="gl-input" type="text" id="team-id" readonly>
                    </div>
                    <div class="basic-info-group">
                        <label for="gps-time">{% trans 'GPS Time' %}</label>
                        <input class="gl-input" type="text" id="gps-time" readonly>
                    </div>
                    <div class="control-container">
                        <div class="control-group">
                            <div class="basic-info-group">
                                <label for="team_id">{% trans 'Team ID' %}</label>
                                <input type="text" id="team_id" value="{{ team_id }}" readonly>
                            </div>
                            <div class="basic-info-group">
                                <label for="working_duration">{% trans 'Working Duration' %}</label>
                                <input type="text" id="working_duration" readonly>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="basic-info-group">
                                <label for="number_of_telemetry_packets">{% trans 'Packet Count' %}</label>
                                <input type="text" id="number_of_telemetry_packets" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="main-right">
            <section class="basic-info-section-right">
                <div class="basic-info-container">
                    <div class="basic-info-group">
                        <label for="altitude">{% trans 'Altitude (m)' %}</label>
                        <input type="text" id="altitude" readonly>
                    </div>
                    <div class="basic-info-group">
                        <label for="no2_level_in_ppm">{% trans 'N2 (ppm)' %}</label>
                        <input type="text" id="no2_level_in_ppm" readonly>
                    </div>
                    <div class="basic-info-group">
                        <label for="co_level_in_ppm">{% trans 'CO (ppm)' %}</label>
                        <input type="text" id="co_level_in_ppm" readonly>
                    </div>
                    <div class="basic-info-group">
                        <label for="h2_level_in_ppm">{% trans 'H2 (ppm)' %}</label>
                        <input type="text" id="h2_level_in_ppm" readonly>
                    </div>
                </div>
                <div class="basic-info-container">
                    <div class="basic-info-group">
                        <label for="velocity">{% trans 'Velocity (m/s)' %}</label>
                        <input type="text" id="velocity" readonly>
                    </div>
                    <div class="basic-info-group">
                        <label for="battery_voltage">{% trans 'Voltage (V)' %}</label>
                        <input type="text" id="battery_voltage" readonly>
                    </div>
                    <div class="basic-info-group">
                        <label for="separation-time">{% trans 'Separation Time (s)' %}</label>
                        <input type="text" id="separation-time" readonly>
                    </div>
                </div>
                <div class="basic-info-container">
                    <div class="basic-info-group">
                        <label for="gps_latitude">{% trans 'GPS Lattitude' %}</label>
                        <input type="text" id="gps_latitude" readonly>
                    </div>
                    <div class="basic-info-group">
                        <label for="gps_longitude">{% trans 'GPS Longtitude' %}</label>
                        <input type="text" id="gps_longitude" readonly>
                    </div>
                    <div class="basic-info-group">
                        <label for="gps_altitude">{% trans 'GPS Altitude' %}</label>
                        <input type="text" id="gps_altitude" readonly>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="chart-row-m0">
        <div class="container">
            <canvas id="no2-graph" width="277" height="186"></canvas>
        </div>
        <div class="container">
            <canvas id="co-graph" width="277" height="186"></canvas>
        </div>
        <div class="container">
            <canvas id="h2-graph" width="277" height="186"></canvas>
        </div>
        <div class="container">
            <canvas id="gps-graph" width="277" height="186"></canvas>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'client/js/graphClass.js' %}"></script>
    <script src="{% static 'client/js/helperFunctions.js' %}"></script>
    <script src="{% static 'client/js/customGraph.js' %}"></script>
{% endblock %}